@import "../../../../themes/generated/variables.base.scss";

:host {
  display: block;
  flex: 0 0 auto;
  z-index: 1;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  ::ng-deep .dx-toolbar .dx-toolbar-item-content > .menu-button .dx-icon {
    color: $base-accent;
  }
}

::ng-deep .dx-toolbar .dx-toolbar-items-container .dx-toolbar-after {
  padding: 0 40px;

  :host-context(.screen-x-small) & {
    padding: 0 20px;
  }
}

::ng-deep .menu-button {
  margin: 0 12px;
}

:host ::ng-deep .dx-menu-base {
  .dx-menu-item-wrapper {
    width: 173px;
  }
}

:host-context(.dx-theme-generic) {
  .dx-toolbar {
    padding: 10px 0;
  }

  .user-button>.dx-button-content {
    padding: 3px;
  }
}
