
<dx-toolbar>
    <dxi-item
        location="before"
        widget="dxButton"
        [options]="{
            icon: 'menu',
            onClick: toggleMenu,
            elementAttr: { class: 'dx-menu-button' }
        }">
    </dxi-item>
    <dxi-item
        location="before"
        *ngIf="title"
        [text]="title">
    </dxi-item>
    <dxi-item
        location="after"
        locateInMenu="auto"
        widget="dxButton"
        [visible]="!isUserAuthorized"
        [options]="{
            icon: 'user',
            text:'Login',
            onClick: onShowLoginPopup
        }">
    </dxi-item>
    <dxi-item 
        location="after"
        locateInMenu="auto"
        [visible]="isUserAuthorized">
        <div *dxTemplate>
            <div class="image-container">
                <img class="user-image" src="https://js.devexpress.com/Demos/WidgetsGallery/JSDemos/images/employees/06.png">
            </div>
            {{userLogin}}
        </div>
    </dxi-item>
</dx-toolbar>

<dx-popup [(visible)]="showLoginPopup" title="Authorization" height="auto" [width]="300">
    <div *dxTemplate="let data of 'content'">
        <app-login (onLoginClick)="loginClick($event)"></app-login>
    </div>
</dx-popup>
