@import "../../../../themes/generated/variables.base.scss";

:host {
    display: block;
}

:host ::ng-deep .dx-toolbar-items-container {
    .dx-toolbar-after {
        padding: 0 40px;
    }
}

:host-context(.screen-x-small) ::ng-deep .dx-toolbar-after {
    padding: 0 20px;
}

::ng-deep .dx-menu-button {
    margin: 0 12px;
}

::ng-deep .dx-menu-base {
    .dx-menu-item-wrapper {
        width: 173px;
    }
}

:host-context(.dx-theme-generic) {
    .dx-toolbar {
        padding: 10px 0;
    }

    .user-button>.dx-button-content {
        padding: 3px;
    }
}
