@import "../../../../themes/generated/variables.base.scss";

::ng-deep .authorization {
    margin-right: 40px;
}

::ng-deep .dx-menu-button {
    margin: 0 12px;
    .dx-icon {
        color: $base-accent !important;
    }
}

::ng-deep .dx-menu-base {
    .dx-menu-item-wrapper {
        width: 173px;
    }
}
