@import "../../../../themes/variables.base.scss";

.image-container {
    float: left;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
    height: 20px;
}

.user-image {
    width: 20px;
}

::ng-deep .dx-menu-button {
    margin: 0 12px;
    .dx-icon {
        color: $base-accent !important;
    }
}
