<dx-validation-group class="dx-fieldset">
    <div class="dx-field">
        <dx-text-box [(value)]="login" placeholder="Email" width="100%">
            <dx-validator>
                <dxi-validation-rule type="email" message="Email is invalid"></dxi-validation-rule>
                <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
            </dx-validator>
        </dx-text-box>
    </div>
    <div class="dx-field">
        <dx-text-box mode="password" [(value)]="password" placeholder="Password" width="100%">
            <dx-validator>
                <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
            </dx-validator>
        </dx-text-box>
    </div>
    <div class="dx-field">
        <dx-button type="default" text="Login" (onClick)="onLoginClick($event)" width="100%"></dx-button>
    </div>
</dx-validation-group>
