.form-avatar {
    float: left;
    height: 120px;
    width: 120px;
    margin-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-image: url('https://js.devexpress.com/Demos/WidgetsGallery/JSDemos/images/employees/06.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
}

.dx-card:not(:first-child) {
    margin-top: 20px;
}
