@import "../../../../themes/generated/variables.additional.scss";

:host {
    display: block;
    height: 100%;
    width: 250px !important;

    .dx-treeview {
        white-space: nowrap;
    }
}

::ng-deep .dx-treeview {
    .dx-treeview-node {
        padding-left: 0px;

        &.dx-state-selected .dx-treeview-item {
            background: transparent;
        }

        &.dx-state-selected > .dx-treeview-item * {
            color: $base-accent;
        }
    }

    .dx-treeview-item-content {
        padding-left: 10px;
    }

    .dx-treeview-toggle-item-visibility {
        right: 10px;
        left: auto;
    }

    .dx-treeview-node[aria-level='1'] {
        border-bottom: 1px solid $base-border-color;
        .dx-treeview-item-content span {
            padding-left: 13px;
        }
    }

    .dx-treeview-node[aria-level='2'] .dx-treeview-item-content {
        font-weight: 300;
        padding-left: 38px;
    }
}

:host-context(.dx-theme-generic) ::ng-deep.dx-treeview .dx-treeview-item .dx-icon {
    width: 26px;
    height: 26px;
    padding: 4px;
}