<div class="container dx-theme-material-typography">
    <app-header
        class="header"
        (menuToggle)="menuOpened = !menuOpened;"
        title="DevExtreme Angular Temaplte">
    </app-header>
    <dx-drawer
        class="content"
        [openedStateMode]="menuMode"
        [revealMode]="menuRevealMode"
        [minSize]="minMenuSize"
        [shading]="shaderEnabled"
        [(opened)]="menuOpened">

        <app-navigation-menu
            class="dx-additional-color-scheme-dark"
            *dxTemplate="let dataMenu of 'panel'"
            (selectedItemChanged)="navigationChanged($event)">
        </app-navigation-menu>

        <dx-scroll-view>
            <ng-content></ng-content>
            <ng-content select=".footer"></ng-content>
        </dx-scroll-view>
    </dx-drawer>
</div>
