<div class="container">
    <app-header class="header" (menuToggle)="menuOpened = !menuOpened;"></app-header>
    <dx-drawer
        class="content"
        [openedStateMode]="menuMode"
        [revealMode]="menuRevealMode"
        [minWidth]="minMenuWidth"
        [shading]="shaderEnabled"
        [(opened)]="menuOpened">
    
        <app-navigation-menu *dxTemplate="let dataMenu of 'menu'">
        </app-navigation-menu>
        
        <ng-content *dxTemplate="let dataMenu of 'content'"></ng-content>
    </dx-drawer>
</div>
