@import "../../themes/variables.base.scss";

.container {
    flex-direction: column;
    display: flex;
    height: 100%;
    background-color: darken($base-bg, 5.00);
}

.header {
    flex: 0 0 auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.content {
    flex: 1;
    min-height: 0;

    ::ng-deep h2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    ::ng-deep h2, ::ng-deep .content-block, .footer {
        margin-left: 40px;
        margin-right: 40px;
    }

    ::ng-deep .dx-card {
        padding: 20px;
    }
}

.screen-large .content ::ng-deep .dx-card {
    padding: 40px;
}

.screen-x-small {
    .content {
        ::ng-deep h2, ::ng-deep .content-block, .footer {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}
