<div class="container dx-theme-material-typography" [ngClass]="sizeClasses">
    <div class="header">
        <ng-content select="app-header"></ng-content>
    </div>

    <dx-drawer
        class="drawer"
        [closeOnOutsideClick]="shaderEnabled"
        [openedStateMode]="menuMode"
        [revealMode]="menuRevealMode"
        [minSize]="minMenuSize"
        [shading]="shaderEnabled"
        [(opened)]="menuOpened">

        <app-navigation-menu
            [items]="menuItems"
            [compactMode]="!menuOpened"
            [selectedItem]="selectedRoute"
            class="dx-swatch-additional"
            *dxTemplate="let dataMenu of 'panel'"
            (selectedItemChanged)="navigationChanged($event)"
            (click)="navigationClick()">
        </app-navigation-menu>

        <dx-scroll-view>
            <div class="content">
                <ng-content></ng-content>
            </div>
            

            <div class="footer">
                <ng-content select="app-footer"></ng-content>
            </div>
        </dx-scroll-view>
    </dx-drawer>
</div>
