:host {
  width: 100%;
  height: 100%;
  display: flex;
}

.dx-card {
  width: 330px;
  margin: auto auto;
  padding: 40px;

  :host-context(.screen-x-small) & {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    border: 0;
  }    
}
