.layout {
    @import "../../../themes/generated/variables.base.scss";
    height: 100%;
    background-color: darken($base-bg, 5.00);
}

.container {
    flex-direction: column;
    display: flex;
    height: 100%;
}

#header {
    flex: 0 0 auto;
}

#navigation-header {
    @import "../../../themes/generated/variables.additional.scss";
    background-color: $base-accent;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    ::ng-deep .menu-button .dx-icon {
        color: $base-text-color;
    }
}

.scroll-view {
    flex: 1;
    min-height: 0;
}

:host ::ng-deep .dx-scrollable-content {
    height: 100%;
}

:host ::ng-deep .dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex-grow: 1;
}

.drawer {
    ::ng-deep h2 {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    ::ng-deep h2, ::ng-deep .content-block, .footer {
        margin-left: 40px;
        margin-right: 40px;
    }

    ::ng-deep .dx-card {
        padding: 20px;
    }
}

.screen-large .drawer ::ng-deep .dx-card {
    padding: 40px;
}

:host, .screen-large {
    .drawer ::ng-deep .dx-card.wide-card, .drawer ::ng-deep .dx-card.wide-card {
        padding: 0;
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

.screen-x-small {
    .content {
        ::ng-deep h2, ::ng-deep .content-block, .footer {
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    #navigation-header {
        padding-left: 20px;
    }
}
:host-context(.dx-theme-generic) {
    #navigation-header {
        padding: 10px 0;
    }

    ::ng-deep .dx-drawer-content .menu-button {
        margin: 0 20px;
    }
}
